<div class= "container">
    <h1>About me</h1>
    <p>Hardworking and super handsome</p>
    <%= link_to "Home", root_path, class: "btn btn-dark"%>
    <%= link_to "Posts", posts_path, class: "btn btn-dark"%>
</div>

