<div class="container">

<h1>My Personal Home Page</h1>
<p>Find me! I'm stuck here!</p>

<%= link_to "About Me", about_path, class: "btn btn-dark"%>
<%= link_to "Posts", posts_path, class: "btn btn-dark"%>

</div>
