<p style="color: green"><%= notice %></p>

<div class="container">
  <h2>Posts</h2>
  <div id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <p>
        <%= link_to "Show this post", post, class: "btn btn-dark" %>
      </p>
    <% end %>
  </div>
  <%= link_to "New Post", new_post_path, class: "btn btn-dark" %>
</div>

